:root {
	--white-color: #fff;
	--black-color: #000;
	--accent-color: #f11e32;
	--default-text-color: #111;
	--orange-color: #fdc12f;
	--orange-color-2: #fdc131;
	--gray-color: #80838d;
	--gray-color2: #ccc;
	--gray-light: #fcfcfc;
	--gray-light-2: #eaeaea;
	--gray-light-3: #f8f8f8;
	--border-radius-10: 10px;
	--border-radius-4: 4px;
	--border-radius-5: 5px;
	--border-radius-3: 3px;
	--carousel-disc-bg-color: #e0e0e0;
	--carousel-disc-active-bg-color: #ffbf31;
	--gradient-first-color: #f0c45a;
	--gradient-last-color: #fdc130;
	--btn-md-height: 60px;
	--btn-lg-height: 68px;
	--title-line-bg: #fdc130;
	--header-bg: #f5f5f5;
	--block-link-wrapper-footer-bg: #353843;
	--block-link-border-color: #f5f5f5;
	--block-link-box-shadow: 0 9px 20px rgba(0, 1, 0, 0.03);
	--nav-bg: #f9c23d;
	--nav-item-border-color: #f3cd9f;
	--scroll-color: #eaeaea;
	--canopy-box-shadow: 0 7px 46px rgba(0, 0, 0, .05);
	--canopy-image-height: 294px;
	--help-box-shadow: 0 29px 40px rgba(37, 39, 49, .09);
	--border-white-26: rgba(255, 255, 255, .26);
	--form-control-bg-color: #f2f2f2;
	--form-control-color: #9f9fa2;
	--form-icon-color: #ccc;
	--built-box-shadow: 0 7px 46px rgba(0, 0, 0, .05);
	--built-label-color: #a2a2a2;
	--quality-overlay: #252731;
	--quality-icon: #a0791c;
	--footer-bg: #252731;
	--footer-top-border-bottom-color: #353843;
}
